/*css*/


/* ==========================================================================
   Header
   ========================================================================== */



.menu-header {}

.menu-header-center {
	display: flex;
	justify-content: space-between;
}

menu-header__main-menu {}

/* Jumbotron
   ========================================================================== */
.jumbotron {
	padding-top: 0;
}

   
/* ==========================================================================
   Main Article
   ========================================================================== */
/*****************Start Main Article *******************/
/*****************End Main Article *******************/

.menu-footer-center {
	display: flex;
	justify-content: space-around;
}