@import 'https://fonts.googleapis.com/css?family=Alegreya:400,700|Montserrat|Playfair+Display:700';

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: rgb(86, 83, 76);
}

header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(86, 83, 76, 0.5);
}

/*header*/
.centerSection {
  width: 80%;
  margin: 0 auto;
}

.cover {
  background-image: url(images/fondo1.jpg);
  background-size: cover;
}

#logo {
  margin: 0;
  display: inline;
}

/*navigation menu */
.mainMenu {
  display: inline;
  padding: 0;
  margin: 0;
  font-family: 'Alegreya', serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mainMenu li {
  display: inline-block;
  cursor: pointer;
}

.mainMenu li:before{
  content: '~';
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0 20px 0 20px;
  cursor: default;
}

.mainMenu li:first-child:before {
  content: '';
}

.socialNet {
  display: inline;
  padding: 0;
  margin: 0;
  color: white;
}

.socialNet li {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
/* navigation menu end*/
/*header*/

/*cover*/
.content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  color: white;
  margin-top: 130px;
  text-shadow: 0px 1px 1px rgb(86, 83, 76);
}

.content p {
  width: 50%;
  display: inline-block;
  margin-top: 80px;
  color: white;
}

.content button {
  display: block;
  align-self: center;
  margin: 30px 0px 240px;
  background-color: rgba(86, 83, 76, 0.8);
  border: medium none;
  padding: 10px 30px;
  color: white;
  font-family: "Alegreya";
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 3px;
  cursor: pointer;
}
/*cover*/

/*info begin */
.info {
  background-image: url(images/patternbg.jpg);
}

.info article {
  display: flex;
  padding: 80px 0;
  text-align: center;
}

.artTitle {
  margin-top: 0;
  font-family: 'Alegreya';
  font-size: 40px;
  margin-bottom: 10px;
}

.artSubTitle {
  font-family: 'Alegreya';
  color: rgb(170, 134, 104);
  text-transform: uppercase;
  margin-top: 0;
}

.artParag {
  font-size: small;
}

.col1 {

}

.chef h3 {
  font-family: 'Alegreya';
  font-size: 21px;
}

#chefcito{
  display: flex;
  align-items: center;
  justify-content: center;
}

#chefcito span {
  font-family: "Alegreya";
  font-size: 23px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0 9px;
}

#chefcito img {
  margin: 0 15px;
}
/* section info end*/

/*section recipe begin */

.recipe {
  background-image: url(images/fondo3.jpg);
}

.recipe article {
  display: flex;
  padding: 120px 0;
  width: 70% !important /*consciente que no es buena practica */
}

.textArticle {
  background-color: white;
  padding: 50px 35px;
}

/*section recipe end */

/*section serveMenu begins */



/*section serveMenu begins */
