@import 'https://fonts.googleapis.com/css?family=Alegreya:400,700|Montserrat|Playfair+Display:700';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer ul, .footer figure {
  display: inline-block;
}
